Source: python-thumbor-wikimedia
Maintainer: Gilles Dubuc <gilles@wikimedia.org>
Section: python
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9),
               dh-python,
               djvulibre-bin,
               ffmpeg,
               ghostscript,
               gifsicle,
               libimage-exiftool-perl,
               librsvg2-bin,
               libvips-tools,
               python-all,
               python-cairosvg,
               python-djvu,
               python-gi,
               python-libthumbor (>= 1.3.2),
               python-lxml,
               python-nose,
               python-pyssim,
               python-setuptools,
               python-swiftclient (>= 2.5.0),
               python-thumbor-community-core,
               python-wand,
               thumbor (>= 6.0.1),
               xcftools
X-Python-Version: >= 2.6
Homepage: https://phabricator.wikimedia.org/diffusion/THMBREXT/

Package: python-thumbor-wikimedia
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, djvulibre-bin, ffmpeg, ghostscript, gifsicle, libimage-exiftool-perl, librsvg2-bin, libvips-tools, python-cairosvg, python-djvu, python-gi, python-libthumbor (>= 1.3.2), python-lxml, python-swiftclient (>= 2.5.0), python-thumbor-community-core, python-wand, thumbor (>= 6.0.1), xcftools
Suggests: cgroup-tools
Provides: ${python:Provides}
Description: Thumbor wikimedia extensions
 This provides all the custom Thumbor extensions needed at Wikimedia
